<h1>Hello, Rails!</h1>
<%= link_to 'Ranas Blog' ,controller: 'articles' %>
<%= link_to 'New article', new_article_path %>
<<<<<<< HEAD
Hello again
=======

<h1> End of the page </h1>
>>>>>>> parent of 359d30d... remove H1 end of teh page tag.
